{% import "macros_jinja/makra.jinja2" as makra %}

<!DOCTYPE html>
<html lang="cs">

  <head>
    <!--importy a meta data stranky-->
    {{ makra.header() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!--pojmenovani stranky-->
    {{ makra.title("prohlizet") }}
  </head>

  <body data-bs-theme="dark">
    <!-- Navigační lišta -->
    {{ makra.navbar(False) }}
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h1>Seznam bezpečnostních listů</h1>
          <div id="accordionContainer" class="accordion pt-5">
            {% if files %}
              {% for file in files %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-{{ loop.index }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false"
                      aria-controls="collapse-{{ loop.index }}">
                      {{ file.filename }}
                    </button>
                  </h2>
                  <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse"
                    aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#accordionContainer">
                    <div class="accordion-body">
                      <strong>Adresář:</strong> {{ file.directory }}<br>
                      <strong>Obsah (náhled):</strong><br>
                      <p>{{ file.kontent }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <p>Načítám všechny soubory...</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pdfModalLabel">Náhled PDF</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít"></button>
          </div>
          <div class="modal-body">
            <iframe id="pdfIframe" style="width: 100%; height: 80vh;" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Boční vertikální menu (volitelné) -->
    <!-- {{ makra.sidebar() }} -->

    <!-- Paticka -->
    {{ makra.footer_dve() }}

  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Odkaz na vlastní JavaScript soubor -->
  <script src="{{ url_for('static', filename='js/vendor/prohlizet.js') }}"></script>

</html>