{% import "macros_jinja/makra.jinja2" as makra %}

<!DOCTYPE html>
<html lang="cs">
    <head>
    <!--importy a meta data stranky-->
    {{ makra.header() }}
    <!--pojmenovani stranky-->
    {{ makra.title("basic_inside")}}
    </head>

    <body data-bs-theme="dark">


    <!--navigacni listy-->
    {{ makra.navbar(False) }}

    <div class="container">
    <div class="row">
        <!-- Levý sloupec: Seznam verzí -->
        <div class="col-3" style="margin-top: 70px;">
            <div id="list-example" class="list-group sticky-top">
                <a class="list-group-item list-group-item-action custom-item" href="#1">
                    <strong>1.0<small>.0</small></strong>
                    <small>(1.10.2024)</small>
                </a>
                <a class="list-group-item list-group-item-action custom-item" href="#2">
                    <strong>1.1<small>.0</small></strong>
                    <small>(12.12.2024)</small>
                </a>
                <a class="list-group-item list-group-item-action custom-item" href="#V4-5-1-3294">
                    <strong>4.5.1<small>.3294</small></strong>
                    <small>(12.12.2023)</small>
                </a>
            </div>
        </div>

        <!-- Pravý sloupec: Obsah novinek -->
        <div class="col-9">
            <!-- Sekce 1 -->
            <div style="margin-top: 30px;">
                <h4 id="1">
                    1.0<small>.0 (1.10.2024)</small> - Novinky a opravy
                </h4>
                <p><strong>Novinky:</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Proin mattis lacinia justo. Aenean id metus id velit ullamcorper pulvinar. Aenean placerat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Integer tempor. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Aliquam ornare wisi eu metus. Nullam faucibus mi quis velit. Nullam dapibus fermentum ipsum. Aliquam erat volutpat. Etiam commodo dui eget wisi. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Fusce nibh. Fusce aliquam vestibulum ipsum.</p>

                <p>Nulla quis diam. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Donec vitae arcu. Pellentesque pretium lectus id turpis. Duis viverra diam non justo. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Etiam bibendum elit eget erat. Nam quis nulla. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Et harum quidem rerum facilis est et expedita distinctio.</p>
            </div>

            <!-- Sekce 2 -->
            <div style="margin-top: 30px;">
                <h4 id="2">
                    1.1<small>.0 (12.12.2024)</small> - Novinky a opravy
                </h4>
                <p><strong>Novinky:</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Proin mattis lacinia justo. Aenean id metus id velit ullamcorper pulvinar. Aenean placerat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Integer tempor. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Aliquam ornare wisi eu metus. Nullam faucibus mi quis velit. Nullam dapibus fermentum ipsum. Aliquam erat volutpat. Etiam commodo dui eget wisi. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Fusce nibh. Fusce aliquam vestibulum ipsum.</p>

                <p>Nulla quis diam. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Donec vitae arcu. Pellentesque pretium lectus id turpis. Duis viverra diam non justo. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Etiam bibendum elit eget erat. Nam quis nulla. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Et harum quidem rerum facilis est et expedita distinctio.</p>
            </div>

            <!-- Sekce 3 -->
            <div style="margin-top: 30px;">
                <h4 id="V4-5-1-3294">
                    4.5.1<small>.3294 (12.12.2023)</small> - Novinky a opravy
                </h4>
                <p><strong>Novinky:</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Proin mattis lacinia justo. Aenean id metus id velit ullamcorper pulvinar. Aenean placerat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Integer tempor. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Aliquam ornare wisi eu metus. Nullam faucibus mi quis velit. Nullam dapibus fermentum ipsum. Aliquam erat volutpat. Etiam commodo dui eget wisi. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Fusce nibh. Fusce aliquam vestibulum ipsum.</p>

                <p>Nulla quis diam. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Donec vitae arcu. Pellentesque pretium lectus id turpis. Duis viverra diam non justo. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Etiam bibendum elit eget erat. Nam quis nulla. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Et harum quidem rerum facilis est et expedita distinctio.</p>
            </div>
        </div>
    </div>

    <!--bocni{{ makra.sidebar() }} vertialni menu-->


    <!--paticka-->
    {{ makra.footer_dve() }}

    </body>
</html>