{% import "macros_jinja/makra.jinja2" as makra %}

<!DOCTYPE html>
<html lang="cs">
    <head>
    <!--importy a meta data stranky-->
    {{ makra.header() }}
    <!--pojmenovani stranky-->
    {{ makra.title("basic_inside")}}
    </head>

    <body data-bs-theme="dark">


    <!--navigacni listy-->
    {{ makra.navbar(False) }}

    <div class="container">
    <div class="row">
        <!-- Levý sloupec: Seznam verzí -->
        <div class="col-3" style="margin-top: 70px;">
            <div id="list-example" class="list-group sticky-top">
                <a class="list-group-item list-group-item-action custom-item" href="#1">
                    <strong>1.0<small>.0</small></strong>
                    <small>(1.10.2024)</small>
                </a>
                <a class="list-group-item list-group-item-action custom-item" href="#2">
                    <strong>1.1<small>.0</small></strong>
                    <small>(12.12.2024)</small>
                </a>
                <a class="list-group-item list-group-item-action custom-item" href="#V4-5-1-3294">
                    <strong>4.5.1<small>.3294</small></strong>
                    <small>(12.12.2023)</small>
                </a>
            </div>
        </div>

        <!-- Pravý sloupec: Obsah novinek -->
        <div class="col-9">
            <!-- Sekce 1 -->
            <div style="margin-top: 30px;">
                <h4 id="1">
                    1.0<small>.0 (25.08.2025)</small> - Novinky a opravy
                </h4>
                <p><strong>Novinky:</strong></p>
                <p>Ošetření přetečení výsledků hledání v našeptávači vyhledávače</p>
                <p>Ošetření přetečení výsledků hledání v modálním okně</p>
            </div>
        </div>
    </div>

    <!--bocni{{ makra.sidebar() }} vertialni menu-->


    <!--paticka-->
    {{ makra.footer_dve() }}

    </body>
</html>