pika==1.3.2
pymysql==1.1.1
SQLAlchemy==2.0.35
flask-sqlalchemy
flask_migrate
cryptography==43.0.1

# pozdeji integrovat jednotlive init pro kazdy models z duvodu insatalace zavislosti do dalsich models
