===============================
* Umístění pro macro celého projektu
* Macro bude v několika souborech
* V souberch bude řazeno do modulů pro univerzální použítí
==========================================================

SEZNAM MAKER

1. Hlavička a importy
2. Název stránky
3. Navbar - kompletní navbar s vyhledavacim polem, logem a názvem
4. Patička a importy

===========================================================
1. HLAVICKA A IMPORTY
===========================================================

{% macro header() %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="dmatyus">

    <!-- Odkaz na vlastní CSS s importy Vendor -->
    <link href="{{ url_for('static', filename='css/vendor/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">

    <!--Externi framework pro ikons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endmacro %}

===========================================================
2. NAZEV STRANKY
===========================================================

{% macro page_title%}
    <title>{{ text }}</title>
{% endmacro%}

===========================================================
3. {% NAVBAR %}
===========================================================